<html>
<body>
	<form action = "{{url_for('insert')}}" method = "POST">
		<label for="ID">ID:</label><br>
                <input type<"text" id= "ID" name="ID"><br>
                <label for="nume">name:</label><br>
                <input type<"text" id= "nume" name="nume"><br>
                <label for="author">author:</label><br>
                <input type<"text" id= "author" name="author"><br>
                <label for="year_of_aparition">year_of_aparition:</label><br>
                <input type<"text" id= "year_of_aparition" name="year_of_aparition"><br>
                <label for="rating">rating:</label><br>
                <input type<"text" id= "rating" name="rating"><br>
                <input type="submit" value="Submit">
	</form>
</body>
</html>
