<!DOCTYPE html>
<html>
	<head>
		<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>author</th>
				<th>year_of_aparition</th>
				<th>rating</th>
			</tr>
			{%for col in acc%}
			<tr>
				<td>{{ col.id }}</td>
				<td>{{col.name}}</td>
				<td>{{col.author}}</td>
				<td>{{col.year_of_aparition}}</td>
				<td>{{col.rating}}</td>
				<td><a href="/{{col.id}}/delete"><button>Delete</button></a></td>
				<td><a href="/{{col.id}}/update"><button>Update</button></a></td>
			</tr>
			{%endfor%}
		</table>
		<a href="/insert">Add a book</a><br>
	</body>
</html>
